@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cairo:wght@600&family=Inter:wght@300;400&family=Roboto:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: 'Inter', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
}

/* width */
::-webkit-scrollbar {
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #99a0aa;
	border-radius: 10px;
}

.table :where(th, td) {
	white-space: nowrap;
	vertical-align: middle;
	width: 100vw;
}
